/* COLORI
    Lightblue = #45abea
    Purple = #9c72e4
    Green = #64c0a9
    Orange = #f29e33
    Pink = #d863a1
    Red = #eb5952
    Lime = #b0c926
*/

/* COMMON */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(211,211,211,0.4);
}

/* HEADER */

.header-container{
    height: 100px;
    background-color: white;
    display: block;
    padding-left: 30px;

}

.header-container img{
    vertical-align: middle;
}

h1{
    font-size: 3.5rem;
    display: inline-block;
    line-height: 100px;
    vertical-align: middle;
}

